.widget-card {
    /* width: 237px;*/
    height: 139px;
    background: #FBFDFF;
}


.widget-workOut-Card-title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    color: #0B0B0B;
    opacity: 0.7;
    display: flex;
}

.widget-workOut-Card-count {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color: #0B0B0B;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
}

.widget-workOut-Card-percentage {
    display: flex;
    align-items: center;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #63BA54;
    margin-bottom: 0;
}

.arrow-span {
    width: 20px;
    height: 20px;
    background: rgba(248, 151, 40, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin-right: 10px;
}

.arrow-up-img {
    width: 8.17px;
    height: 7.45px;
}

.widget-card:where(.css-dev-only-do-not-override-ed5zg0).ant-card .ant-card-body {
    padding: 15px;
}