.create-workout-container {
    display: grid;
    grid-template-columns: 8fr 4fr;
    grid-gap: 25px;
    height: 83vh;
}


.create-workout-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 83vh;
}

.create-workout-title-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
}

.create-workout-title-span {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #0B0B0B;
    display: flex;
}

.create-workout-input-div {
    width: 100%;
}

.create-workout-exercises-btn-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
}

.exercises-title-span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #0A364B;
}

.add-exercises-btn {
    box-sizing: border-box;
    width: 140px;
    height: 35px;
    border: 2px solid #0081C6;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #0081C6;
    filter: drop-shadow(1px 1px 2px rgba(71, 42, 6, 0.1));
    border-radius: 32px;
    background: none;
    cursor: pointer;
}

.create-workout-exercise-container-div {
    width: 100%;
    /* min-height: 250px; */
    margin-top: 35px;
}

.create-workout-exercises-div {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 15px
}

.no-exercises-div {
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* height: 200px; */
}

.no-exercises-span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #526B78;
}

.save-workout-btn-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 35px;
}

.save-workout-btn {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    width: 200px;
    height: 45px;
    background: #F79A28;
    box-shadow: 1px 1px 2px rgba(71, 42, 6, 0.1);
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
}

.checkbox-line {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: #617884;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    width: 200px;
}

.checkbox-line label {
    margin-right: 10px;
}

.create-workout-input-div {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.create-workout-input-div :where(.css-dev-only-do-not-override-ed5zg0).ant-input:placeholder-shown {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #526B78;
}

.create-workout-input-div :where(.css-dev-only-do-not-override-ed5zg0).ant-input {
    height: 40px;
    background: #FFFFFF;
    box-shadow: 4px 0px 30px rgba(0, 0, 0, 0.03), 0px 4px 30px rgba(0, 0, 0, 0.03), 2px -1px 2px #EFFAFF, 1px 1px 4px rgba(71, 113, 134, 0.15);
    border-radius: 10px;
    border: none;
}

.create-workout-input-div textarea:where(.css-dev-only-do-not-override-ed5zg0).ant-input {
    max-width: 100%;
    height: auto;
    min-height: 80px;
}


.title-input {
    width: 100%;
    height: 40px;
    border: none;
    background: #FFFFFF;
    box-shadow: 4px 0px 30px rgba(0, 0, 0, 0.03), 0px 4px 30px rgba(0, 0, 0, 0.03), 2px -1px 2px #EFFAFF, 1px 1px 4px rgba(71, 113, 134, 0.15);
    border-radius: 10px;
    padding: 0 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #526B78;
    outline: none;
}

.desc-input {
    width: 100%;
    height: 80px;
    border: none;
    background: #FFFFFF;
    box-shadow: 4px 0px 30px rgba(0, 0, 0, 0.03), 0px 4px 30px rgba(0, 0, 0, 0.03), 2px -1px 2px #EFFAFF, 1px 1px 4px rgba(71, 113, 134, 0.15);
    border-radius: 10px;
    padding: 10px 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #526B78;
    display: flex;
    outline: none;
}

.create-workout-exercises-btn-div :where(.css-dev-only-do-not-override-ed5zg0).ant-input:placeholder-shown {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #2D2D2D;
    opacity: 0.6;
}

.add-exercise-modal-card-div {
    /* background-color: #f1f1f1; */
    height: 300px;
    overflow: auto;
    /* margin: 20px; */
    text-align: justify;
    /* padding: 20px; */
}

.create-workout-right {
    width: 100%;
    height: 83vh;
    overflow: auto;
}

.create-workout-right::-webkit-scrollbar {
    width: 0.1px;
}

.create-workout-right::-webkit-scrollbar-track {
    background-color: transparent;
}

.create-workout-right::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.create-workout-activity-div {
    height: 40px;
}

.create-workout-activity-span {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #0B0B0B;
    display: flex;
}

.create-workout-coach-card-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    /* background-color: palegreen; */
    margin-top: 20px;
    /* height: 600px;
    overflow: auto; */
}