.sideBar-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sider-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    border: none;
    background: #FFFFFF;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.12);
    border-radius: 36px;
    overflow: hidden;
}

.sider-home-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    border: none;
    background: #0081C6;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.12);
    border-radius: 36px;
    overflow: hidden;
}

.logout-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    /* background-color: purple; */
}

.logout-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    border: none;
    background: #FFFFFF;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.12);
    border-radius: 36px;
    overflow: hidden;
}

.logout-img {
    width: 20.39px;
    height: 25px;
}