.card-container {
    /* width: 460px;*/
    height: 300px;
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, .12);
    border-radius: 10px;
}

.assign-work-title-div {
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: purple; */
}

.assign-work-title-span {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    color: #0B0B0B;
}

.assign-work-navigator-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.arrow-left-image {
    width: 25px;
    cursor: pointer;
    /* height: 23px; */
}

.arrow-right-image {
    width: 25px;
    margin-left: 10px;
    /* height: 23px; */
    cursor: pointer;
}

.assign-work-detail-div {
    padding: 15px;
    margin-top: 15px;
    /* width: 428px; */
    /* height: 285px; */
    background: #E2F5FF;
    border-radius: 10px;
}

.assign-work-name-span {
    display: flex;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #0A364B;
}

.kneeTop-image {
    margin-top: 15px;
    width: 100%;
    /* width: 220.88px; */
    height: 110px;
}

.kneeTop-detail {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    text-transform: capitalize;
    color: #526B78;
}

.card-container:where(.css-dev-only-do-not-override-ed5zg0).ant-card .ant-card-body {
    padding: 20.7px;
    border-radius: 0 0 8px 8px;
}