.sider-class {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.logout-div {
    display: flex;
    align-items: center;
    justify-content: center;
    widows: 150px;
    background-color: red;
}