.coach-card-container {
    border: none;
    background: #FFFFFF;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
}

.coach-upper-div {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-gap: 10px;
}

.coach-img-div {
    display: flex;
    width: 100%;
}

.CoachImage {
    width: 45px;
    height: 45px;
    border-radius: 50px;
}

.coach-name-detail-div {
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-gap: 10px;
}

.coach-name-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.coach-name-span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #000000;
}

.coach-upload-time-span {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    text-align: right;
    color: #000000;
    opacity: 0.5;
}

.heart-img-span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.heart-img {
    height: 16.25px;
    width: 17.06px;
}

/* .coach-lower-div {} */

.coach-paragraph {
    display: flex;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #0C0C0C;
}

.coach-video-img {
    height: 155.3px;
    width: 100%;
}