.navbar-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 6fr 6fr;
}

.navbar-left-div {
    /* background-color: red; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo-div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-logo {
    height: 55.91px;
    width: 33.72px;
    cursor: pointer;
}

.navbar-burger {
    height: 75px;
    width: 75px;
    cursor: pointer;
}

.navbar-right-div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar-bell-span {
    width: 40px;
    display: flex;
    height: 40px;
    align-items: center;
    border-radius: 50px;
    justify-content: center;
    border: none;
    background: rgba(57, 126, 193, 0.1);
    box-shadow: 4px 4px 17px rgba(38, 51, 77, 0.15);
}

.navbar-bell {
    width: 17.05px;
    height: 20px;
    cursor: pointer
}

.navbar-user-image {
    height: 50px;
    width: 50px;
    margin: 0px 24px;
    cursor: pointer
}