.teamDas-dashboard-Container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: purple;
    height: 80vh;
}

.teamDas-lower-main {
    width: 100%;
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-gap: 25px;
    height: 80vh;
}

.teamDas-left-main-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 525px;
    overflow: auto;
}

.teamDas-left-main-div::-webkit-scrollbar {
    width: 0.1px;
}

.teamDas-left-main-div::-webkit-scrollbar-track {
    background-color: transparent;
}

.teamDas-left-main-div::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.teamDas-name-badge-div {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 58px;
    margin-bottom: 20px;
}

.teamDas-welcome-span {
    display: flex;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #0B0B0B;
    opacity: 0.9;
    margin-bottom: 2px;
}

.teamDas-name-span {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color: #0B0B0B;
}

.teamDas-widget-card-div {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr 3fr;
    grid-gap: 10px;
    height: 140px;
}

.teamDas-workOut-calender-div {
    width: 100%;
    height: 300px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-gap: 10px;
}

.teamDas-team-card-container-div {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
}

.teamDas-team-title {
    display: flex;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    color: #0B0B0B;
}

.teamDas-team-card-div {
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    grid-gap: 10px;
    margin-bottom: 10px;
}

.teamDas-right-main-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    gap: 10px;
    height: 495px;
    overflow: auto;
    margin-top: 30px;
}

.teamDas-right-main-div::-webkit-scrollbar {
    width: 0.1px;
}

.teamDas-right-main-div::-webkit-scrollbar-track {
    background-color: transparent;
}

.teamDas-right-main-div::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.teamDas-activity-div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 58px;
    margin-bottom: 10px;
}

.teamDas-activity-span {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #0B0B0B;
    display: flex;
}

.coach-card-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}